<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
 
 </head>
 <body>
     <header>
        <a href="/connexion">
            <img class="logo" src="\img\logo.png" alt="Logo The Spots DVA">
        </a>
        <p>The Spots DVA</p>
        <a href="/profil">
            <img class="imgUser" src="\img\imageUtilisateur.png" alt="Icône de profil">
        </a>
        <form action="/logout">
            <button type="submit">Logout</button>
        </form>
     </header>
     
