<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/profil.css">
    <link rel="stylesheet" href="/css/styleHeader.css">
    <link rel="stylesheet" href="/css/styleConnexion.css">
    <link rel="stylesheet" href="/css/styleCreationDeCompte.css">
    <link rel="stylesheet" href="/css/styleAffichageProfil.css">
    <link rel="stylesheet" href="/css/styleFormulaireSpot.css">
</head>
<body>
 
 </head>
 <body>
     <header>
        <nav>
            <ul>
                <li class="width5">
                    <a href="">
                        <img class="logo" alt="Logo The Spots DVA" src="\img\logo.png" >
                     </a>
                </li>
                <li class="width85"><p>The Spots DVA</p></li>
                <li class="width5">
                    <a href="/profil/edit">
                        <img class="iconeProfil" alt="Icône de profil" src="\img\photoDeProfil.png">
                    </a>
                </li>
            </ul>
        </nav>
     </header>
     
