<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
    <% let hideNav =  pageTitle != 'Connexion' && pageTitle != 'Crée une Compte' && pageTitle != '404' %> 
    <% if (hideNav) {%> 
    <nav>
        <ul class="row mt-30 text-center" >
            <li class="col"><a href="/profil">profil</a></li>
            <li class="col"><a href="/feed/">spots</a></li>
            <li class="col"><a href="/ami">trouver amis</a></li>
            <li class="col"><a href="/logout">déconnexion</a></li>
        </ul>
    </nav>
    <% } %> 
    </header>
     
