<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/profil.css">
    <link rel="stylesheet" href="/css/styleHeader.css">
    <link rel="stylesheet" href="/css/styleConnexion.css">
    <link rel="stylesheet" href="/css/styleCreationDeCompte.css">
    <link rel="stylesheet" href="/css/styleAffichageProfil.css">
    <link rel="stylesheet" href="/css/styleFormulaireSpot.css">
</head>
<body>
 
 </head>
 <body>
     <header>
         
     </header>
     
