<main>
  <div class="containerProfil">
    <div class="menuGauche">
      <nav>
        <ul>
          <li>
            <a href="">Profil</a>
          </li>
          <li>
            <a href="">Mes spots</a>
          </li>
          <li>
            <a href="">Messages</a>
          </li>
          <li>
            <a href="">Amis</a>
          </li>
        </ul>
      </nav>
      <div class="carteProfil">
        <!-- <img src="/img/cartePageProfil.png" alt="" srcset=""> -->
      </div>
    </div>
    <div class="menuDroit">
      <button id="signOutBtn">Signout</button>

    </div>
  </div>
  <!-- <h2>Bienvenu <span id="nomUtilisateur"></span></h2>
  <h3>Votre email est: <span id="emailUtilisateur"></span></h3> -->

  <!-- <div>
    <p>Voulez-vous changer votre nom?</p>
    <table>
      <tr>
        <td>
          <label for="changerNom">Nouveau Nom: </label>
        </td>
        <td><input type="text" id="nouveauNom" /></td>
        <td>
          <button id="btnSoumettreNouveauNom">Changer Nom</button>
        </td>
      </tr>
    </table>
  </div> -->
</main>
<script src="js/signOut.js"></script>
<script src="js/scriptAffichageProfil.js"></script>
<script src="js/updateNom.js"></script>
