<main>
  <h1>Page de profil</h1>
  <h2>Bienvenu <span id="nomUtilisateur"></span></h2>
  <h3>Votre email est: <span id="emailUtilisateur"></span></h3>

  <div>
    <p>Aimerais-vous changer votre nom?</p>
    <table>
      <tr>
        <td>
          <label for="changerNom">Nouveau Nom: </label>
        </td>
        <td><input type="text" id="nouveauNom" /></td>
        <td>
          <button id="btnSoumettreNouveauNom">Changer Nom</button>
        </td>
      </tr>
    </table>
  </div>
  <button id="signOutBtn">Signout</button>
</main>

<script src="js/signOut.js"></script>
<script src="js/scriptAffichageProfil.js"></script>
<script src="js/updateNom.js"></script>
