<main>
    <div class="containerAjoutSpot">
        <form action="/profilSpot" method="post">
            <label for="name">Nom:</label>
            <input type="text" id="name" name="name" value="name">
            <label for="description">Description:</label>
            <input type="text" id="description" name="description" value="description">
            <label for="address">Adresse:</label>
            <input type="text" id="address" name="address" value="address">
            <label for="difficulty">Difficulté:</label>
            <input type="text" id="difficulty" name="difficulty" value="difficulty">
            <label for="coordinates">Coordonnées:</label>
            <input type="text" id="coordinates" name="coordinates" value="coordinates">
            <button type="submit">Soumettre</button>
        </form>
    </div>
    
</main>