<main>
    <form action="/ami" method="">
        <input type="search" id="rechercheAmi" name="rechercheAmi" placeholder="recherche d'amis">
        <button type="submit" id="recherchebtn">Recherche</button>
    </form>
</main>