<main>
    <form action="/rechercheAmi" method="get">
        <input type="search" id="rechercheAmi" name="rechercheAmi" placeholder="recherche d'amis">
        <button type="submit">Recherche</button>
    </form>
<p><%= locals.name %> </p>
</main>
