<main>
    <form action="/rechercheAmi" method="get">
        <input type="text" name="rechercheAmi" placeholder="recherche d'amis">
        <button type="submit">Recherche</button>
    </form>
    <ul>
        <% if(users){ %> 
            <% users.forEach(function(user){ %> 
                <a href="/getAmiProfil/<%= user.id %>"><li><%= user.name %></li></a>
                <form action="/ajouterAmi/<%= user.id %>" method="post">
                    <% let ami = false; %>
                    <% friendsCompare.forEach(function(friend){ %>
                        <% if(user.id == friend.id && ami == false){ %>
                            <% ami = true; %> 
                        <% } %> 
                    <% }); %>
                    <% if(ami == true){ %>
                        <button disabled>Ajouter comme ami</button>
                    <% } else if (ami == false) { %>
                        <button>Ajouter comme ami</button>
                    <% } %>
                </form>
            <% }); %>
        <% }; %> 
    </ul>
</main>
