<main>
    <form action="/rechercheAmi" method="get">
        <input type="text" name="rechercheAmi" placeholder="recherche d'amis">
        <button type="submit">Recherche</button>
    </form>
</main>
