<main>
    <h1>Connexion au SKI API</h1>
    <table>
        <form action="/affichageProfil" method="POST">
        <tr>
            <td><label for="email">Email: </label></td>
            <td><input type="text" name="email" placeholder="Email" id=""/></td>
        </tr>
        <tr>
            <td><label for="motDePasse">Mot de passe: </label></td>
            <td><input type="password" name="password" placeholder="Entrer le mot de passe" id="" /></td>
        </tr>
        <td><input type="submit" value="Se connecter"></td>
        </form>
    </table>
</main>
