<main>
    <h1>Connexion au SKI API</h1>
    <table>
        <tr>
            <td><label for="email">Email: </label></td>
            <td><input type="text" id="email" name="email" placeholder="Email" id=""/></td>
        </tr>
        <tr>
            <td><label for="motDePasse">Mot de passe: </label></td>
            <td><input type="password" id="password" name="password" placeholder="Entrer le mot de passe" id="" /></td>
        </tr>
        <td><button id="connectBtn" type="submit">Se connecter</button></td>
    </table>
    <script src="js/scriptConnexion.js"></script>
</main>
