<main class="container">
  <div class="h1-index">
    <h1 class="text-center">the dva</h1>
  </div>
  <form action="/affichageProfil" method="post">
    <div class="mb-35 text-center">
      <input
        type="email"
        name="email"
        class="input"
        aria-label="email"
        placeholder="Email"
      />
    </div>
    <div class="mb-35 text-center">
      <input
        type="password"
        name="password"
        class="input"
        aria-label="password"
        placeholder="Mot de Passe"
      />
    </div>
    <div class="mb-35 text-center">
      <button class="btn__submit" id="connectBtn" type="submit">
        Se connecter
      </button>
    </div>
  </form>
  <div class="mb-35 text-center">
    <a href="creation-de-compte" class="link">Pas de compte ?</a>
  </div>
</main>