<main>
    <h1>Connexion au SKI API</h1>
    <table>
        <form action="/connexion" method="POST">
        <tr>
            <td><label for="nomUtilisateur">Nom d'utilisateur: </label></td>
            <td><input type="text" name="nomUtilisateur" placeholder="Entrer le nom d'utilisateur" id=""/></td>
        </tr>
        <tr>
            <td><label for="motDePasse">Mot de passe: </label></td>
            <td><input type="password" name="motDePasse" placeholder="Entrer le mot de passe" id="" /></td>
        </tr>
        <td><input type="submit" value="Se connecter"></td>
        </form>
    </table>
</main>