<main>
  <h1>Crée une Compte</h1>
  <table>
    <form action="/connexion" method="POST">
      <tr>
        <td><label for="nom">Nom: </label></td>
        <td><input type="text" name="nom" /></td>
      </tr>
      <tr>
        <td><label for="email">Email: </label></td>
        <td><input type="email" name="email" id="" /></td>
      </tr>
      <tr>
        <td><label for="motDePasse">Mot de passe: </label></td>
        <td><input type="password" name="motDePasse" id="" /></td>
      </tr>
      <td><input type="submit" value="Créé un compte"></td>
    </form>
  </table>
</main>
