<main class="container">
  <div class="">
    <h1 class="h1-creation-compte mb-40 text-center">Créer Votre Profil</h1>
  </div>
  <form action="/creation-compte-reussi" method="post">
    <div class="mb-35 text-center">
      <input
        type="text"
        name="nom"
        class="input"
        aria-label="nom"
        placeholder="Nom"
      />
    </div>
    <div class="mb-35 text-center">
      <input
        type="email"
        name="email"
        class="input"
        id="email"
        aria-label="email"
        placeholder="Email"
        required
      />
    </div>
    <div class="mb-35 text-center">
      <input
        type="password"
        name="motDePasse"
        class="input"
        id="password"
        aria-label="password"
        placeholder="Mot de Passe"
        required
      />
    </div>
    <div class="mb-35 text-center">
      <button class="btn__submit" id="connectBtn" type="submit">
        Créer un compte
      </button>
    </div>
  </form>
  <div class="mb-35 text-center">
    <a href="connexion" class="link">Connexion</a>
  </div>
</main>






<!-- <main>
  <div class="containerCreationCompte">
    <div class="woodCreationCompte">
      <form action="/creation-compte-reussi" method="POST">
        <table>
          <tr>
            <td><h1>Informations</h1></td>
          </tr>
          <tr>
            <td><img src="/img/UnSki.png" alt="ski"></td>
          </tr>
          <tr>
            <td><label for="nom">Nom: </label></td>
          </tr>
          <tr>
            <td><input type="text" name="nom" required/></td>
          </tr>
          <tr>
            <td><label for="email">Email: </label></td>
          </tr>
          <tr>
            <td><input type="email" name="email" id="" required/></td>
          </tr>
          <tr>
            <td><label for="motDePasse">Mot de passe: </label></td>
          </tr>
          <tr>
            <td><input type="password" name="motDePasse" id="" required/></td>
          </tr>
          <tr>
            <td><button type="submit">Créer un compte</button></td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</main> -->