<main>
    <div class="containerCompeReussi">
        <div class="contReussi">
            <h1>Merci d'avoir créé un compte!</h1>
            <a class="aReussi" href="connexion">Connexion</a>
        </div>
    </div>
</main>