<main>
  <div class="containerCreationCompte">
    <div class="woodCreationCompte">
      <form action="/creation-compte-reussi" method="POST">
        <table>
          <tr>
            <td><h1>Informations</h1></td>
          </tr>
          <tr>
            <td><img src="/img/UnSki.png" alt="ski"></td>
          </tr>
          <tr>
            <td><label for="nom">Nom: </label></td>
          </tr>
          <tr>
            <td><input type="text" name="nom" required/></td>
          </tr>
          <tr>
            <td><label for="email">Email: </label></td>
          </tr>
          <tr>
            <td><input type="email" name="email" id="" required/></td>
          </tr>
          <tr>
            <td><label for="motDePasse">Mot de passe: </label></td>
          </tr>
          <tr>
            <td><input type="password" name="motDePasse" id="" required/></td>
          </tr>
          <tr>
            <td><button type="submit">Créer un compte</button></td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</main>