<main>
  <h1>Crée une Compte</h1>
  <table>
    <form action="/connection" method="POST">
      <tr>
        <td><label for="name">Name: </label></td>
        <td><input type="text" name="name" /></td>
      </tr>
      <tr>
        <td><label for="email">Email: </label></td>
        <td><input type="email" name="email" id="" /></td>
      </tr>
      <tr>
        <td><label for="password">Password: </label></td>
        <td><input type="password" name="password" id="" /></td>
      </tr>
      <td><input type="submit" value="Submit"></td>
    </form>
  </table>
</main>
