<main>
    <div class="containerConnexion">
      <div class="containerCreationCompteReussi">
        <h1 class="creationReussi">Votre compte a été créé avec succès!</h1>
        <form action="/connexion" method="get">
          <button type="submit">Connexion</button>
        </form>
      </div>
    <img class="skisConnexion" src="/img/skis.png" alt="ski">
  </div>
</main>
  