<main>
    <div class="containerConnexion">
      <div class="woodConnexion">
        <h1>compte créé avec succès</h1>
      </div>
    <img class="skisConnexion" src="/img/skis.png" alt="ski">
    <!-- <script src="js/scriptConnexion.js"></script> -->
  </div>
  </main>
  