<main>
  <div class="containerProfil">
    <div class="menu">
      <nav>
        <form action="/profil" method="get">
          <button class="navProfil" type="submit">Profil</button>
        </form>
        <form action="/feed" method="get">
          <button type="submit">Feed</button>
        </form>
        <form action="" method="get">
          <button type="submit">Messages</button>
        </form>
        <form action="" method="get">
          <button type="submit">Amis</button>
        </form>
      </nav>
      <img src="/img/carte.png" alt="Carte de mes amis" />
    </div>
    <div class="profilPage">
      <form class="topPartProfil" action="/updateUser?_method=put " method="post">
        <div class="imgEtIcone">
          <img
            class="bigImgUtilisateur"
            src="/img/imageUtilisateur.png"
            alt="img utilisateur"
          />
          <div class="icone3">
            <img src="/img/iconeSkis.png" alt="skis" />
            <img src="/img/iconeBiere.png" alt="bière" />
            <img src="/img/iconeMaison.png" alt="maison" />
          </div>
        </div>
        <div>
          <div class="formProfil">
            <div>
              <input
                type="text"
                name="nomUtilisateur"
                value="<%= nomUtilisateur %> "
              />
              <select name="groupeAge" id="groupeAge">
                <option value="0-18">0 - 18 ans</option>
                <option value="18-25">18 - 25 ans</option>
                <option value="25-40">25 - 40 ans</option>
                <option value="40-65">40 - 65ans</option>
                <option value="65plus">65 ans et plus</option>
              </select>
            </div>
            <img
              class="woodSeparation"
              src="/img/plancheHeader.png"
              alt="wood"
            />
            <div>
              <input type="text" value="ville en ejs" />
              <input type="text" value="profession en ejs" />
            </div>
            <img
              class="woodSeparation"
              src="/img/plancheHeader.png"
              alt="wood"
            />
            <div>
              <input type="text" name="email" value="<%= email %> " />
            </div>
            <img
              class="woodSeparation"
              src="/img/plancheHeader.png"
              alt="wood"
            />
            <div>
              <textarea
                class="descriptionProfil"
                type="text"
                placeholder="Description"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="validFormProfil">
          <button type="submit">Update</button>
        </div>
      </form>
      <div>
        <div class="navSpotDansProfil">
          <ul>
            <li>Mes spots</li>
            <li>Spots favoris</li>
          </ul>
          <img class="woodSeparation" src="/img/plancheHeader.png" alt="wood" />
        </div>
        <div class="profilListeSpots">
          <div class="spotCourtModifiable">
            <img
              class="imgUtilisateurSpotCourt"
              src="/img/imageUtilisateur.png"
              alt="img utilisateur"
            />
            <p>Name of the spot</p>
            <img
              class="threeDots"
              src="/img/troisPoints.png"
              alt="trois points"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<script src="js/signOut.js"></script>
<script src="js/scriptAffichageProfil.js"></script>
<script src="js/updateNom.js"></script>
