<main class="container text-center">
    <div class="img__container--profil m-auto mt-50">
      <img
        src="/img/mountain.png"
        alt="Photo du spot"
        class="img-fluid img-profil"
      />
    </div>
    <h1 class="mt-20"><%= name %></h1>
    <% if (address != '') {%>
    <div class="mt-15"><%= address %></div>
    <% } %>
    <div class="mt-15"><%= difficulty %></div>
    <% if (description != '') { %>
    <div class="mt-15"><%= description %></div>
    <% } %>
    <a href="/feed/" class="btn__submit">Retour Aux Spots</a>

    <div class="my-80"></div>
  </main>