<main class="container text-center">
    <div class="img__container--profil m-auto mt-50">
      <img
        src="/img/mountain.png"
        alt="Photo du Spot"
        class="img-fluid img-profil"
      />
    </div>
    <h1>Ajouter un Spot</h1>
    </div>
    <form  action="/formulaireSpot" method="post">
      <div class="mb-35 text-center">
        <div>
          <label for="nomUtilisateur">Nom du Spot:</label>
        </div>
        <input
          type="text"
          name="nomDuSpot"
          class="input"
          aria-label="Nom du spot"
        />
      </div>
      <div class="mb-35 text-center">
        <div>
          <label for="adresse">Adresse :</label>
        </div>
        <input
          type="text"
          name="address" 
          class="input"
          aria-label="adresse"
        />
      </div>
      <div class="mb-35 text-center">
        <div>
          <label for="adresse">Coordonnées:</label>
        </div>
        <input
          type="text"
          name="coordinates" 
          class="input"
          aria-label="Coordonnées"
        />
      </div>
      <div class="mb-35 text-center">
        <div>
          <label for="difficulty">Niveau de difficulté:</label>
        </div>
        <div class="nivDiffRadio">
          <div>
            <input type="radio" id="html" name="nivDiff" value="facile">
            <label for="Facile">Facile</label>
              
              
          </div>
          <div>
            <input type="radio" id="css" name="nivDiff" value="intermédiaire">
            <label for="Moyen">Moyen</label>
          </div>
          <div> 
            <input type="radio" id="javascript" name="nivDiff" value="difficile">
            <label for="Difficile">Difficile</label> 
          </div>
      </div>
      </div>
      <div class="mb-35 text-center">
        <div>
          <label for="description">Description:</label>
        </div>
        <textarea type="text" name="description"></textarea>
      </div>
      <div class="mb-35 text-center">
        <button class="btn__submit" id="connectBtn" type="submit">
          Enregistrer
        </button>
      </div>
    </form>
  
    <div class="my-80"></div>
</main>