<main class="containerFormulaireSpot">
    <img class="imgWoodV" src="/img/plancheVertical.png" alt="Wood">
    <div class="spotForm">
        <form action="#">
            <div class="spotFormLeft">
                <div>
                    <input type="text" placeholder="Nom du spot ici">
                </div>
                <div class="containerImgNivDiff">
                    <div>
                        <img src="/img/imgSpot.jpg" alt="image du spot">
                    </div>
                    <div class="nivDiff">
                        <p>Niveau de difficulté:</p>
                        <div class="nivDiffRadio">
                            <div>
                                <input type="radio" id="html" name="nivDiff" value="1">
                                <input type="radio" id="css" name="nivDiff" value="2">
                                <input type="radio" id="javascript" name="nivDiff" value="3">
                            </div>
                            <div>
                                <label for="Facile - 1">Facile</label>
                                <label for="Moyen - 2">Moyen</label>
                                <label for="Difficile - 3">Difficile</label> 
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <p>Description:</p>
                    <textarea type="text" placeholder="Description"></textarea>
                </div>
            </div>
            <div class="spotFormRight">
                <div class="spotFormMap">
                    <p>Emplacement:</p>
                    <img src="/img/carteVide.png" alt="image de la carte">
                    <textarea type="text" placeholder="Adresse"></textarea>
                    <!-- <input type="text" placeholder="Adresse"> -->
                </div>
                <div>
                    <button type="submit">Valider</button>
                    <button type="reset">Annuler</button>
                </div>
            </div>
        </form>
    </div>
    <img class="imgWoodV" src="/img/plancheVertical.png" alt="Wood">
    <form class="spotFormQuit" action="/feed">
        <button><img src="/img/plusButton.png" alt="X"></button>
    </form>
</main>