<main>
    <div class="containerFormulaireSpot">
        <div class="backgroundBlanc">
            <div class="formulaireSpotGauche">
                <h2>Nom du spot</h2>
                <div class="photo">
                    <img src="/img/crayon.png" alt="">
                </div>
                <div class="difficulte">
                    <h3>Niveau de difficulté</h3>
                    <p>Facile - 1</p>
                    <p>Moyen - 2</p>
                    <p>Difficile - 3</p>
                </div>
                <div class="description">
                    <h3>Description</h3>
                    <p>Superbe montagne avec des paysage époustouflant. Avec une monté de 12 km en 2 heures 35 
                        min et une bonne descente de 20 minutes, ca vaut vraiment la peine d’aller l’essayer!</p>
                </div>
            </div>
            <div class="formulaireSpotDroite">
                <h2>Emplacement</h2>
                <img class="carteEmplacementSpot" src="/img/carteEmplacementSpot.png" alt="carte emplacement spot">
                <p>Mont Albert, Parc de la Gaspésie, Saint-anne-des-Monts, Québec</p>
                <button type="submit">Valider</button>
                <button type="submit">Annuler</button>
            </div>
        </div>
    </div>
</main>