<main>
    <form class="containerFormulaireSpot">
        <div class="backgroundBlanc">
            <img src="/img/plancheFormulaireSpot.png" alt="image de planche">
            <div class="formulaireSpotGauche">
                <div class="titreSpot">
                    <h1>Nom du spot</h1>
                    <img src="/img/crayonBois.png" alt="image de crayon">
                </div>
                <div class="photoDifficulte">
                    <div class="photoSpot">
                        <img src="/img/photoSpot.png" alt="photo du spot">
                    </div>
                    <div class="difficulte">
                        <h2>Niveau de difficulté:</h2>
                        <p>Facile - 1</p>
                        <p>Moyen - 2</p>
                        <p>Difficile - 3</p>
                    </div>
                </div>
                <div class="description">
                    <div class="descriptionTitle">
                        <h2>Description:</h2>
                        <img src="/img/crayonBois.png" alt="image de crayon">
                    </div>
                    <p>Superbe montagne avec des paysage époustouflant. Avec une monté de 12 km en 2 heures 35 
                        min et une bonne descente de 20 minutes, ca vaut vraiment la peine d’aller l’essayer!</p>
                </div>
            </div>
            <div class="formulaireSpotDroite">
                <div class="emplacementTitre">
                    <h2>Emplacement:</h2>
                    <img src="/img/crayonBois.png" alt="image de crayon">
                </div>
                <img src="/img/carteEmplacementSpot.png" alt="carte emplacement spot">
                <p>Mont Albert, Parc de la Gaspésie, Saint-anne-des-Monts, Québec</p>
                <div class="boutonsFormulaireSpot">
                    <button type="submit">VALIDER</button>
                    <button type="reset">ANNULER</button>
                </div>
            </div>
            <img src="/img/plancheFormulaireSpot.png" alt="image de planche">
        </div>
    </form>
</main>