<main class="containerProfilSpot">
    <img class="imgWoodV" src="img/plancheVertical.png" alt="Wood">
    <div class="spotAff">
        <div class="spotAffLeft">
            <div>
                <h1>Nom du spot ejs ici</h1>
            </div>
            <div class="containerAffImgDiff">
                <div>
                    <img class="imgSpot" src="img/imgSpot.jpg" alt="image du spot">
                </div>
                <div>
                    <div class="nivDiff">
                        <p><b>Niveau de difficulté:</b></p>
                        <p class="affDiffSpot">Difficile - 3</p>
                    </div>
                    <div class="affAuteurSpot">
                        <p><b>Auteur du Spot:</b></p>
                        <div>
                            <img class="imgUserSpot" src="img\imageUtilisateur.png" alt="Icône de profil">
                            <p>Auteur du Spot ejs ici</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <p>Description:</p>
                <p class="descriptionSpot">données de la description ejs ici
                    Lorem ipsum dolor, soluta non mollitia quo consequatur, deserunt facere eveniet consequuntur blanditiis ipsum numquam.
                </p>
            </div>
        </div>
        <div class="spotAffRight">
            <div class="spotAffMap">
                <p>Emplacement:</p>
                <img src="img/carteVide.png" alt="image de la carte">
                <p>données de l'adresse ejs ici</p>
            </div>
        </div>
    </div>
    <img class="imgWoodV" src="img/plancheVertical.png" alt="Wood">
    <form class="spotAffQuit" action="/feed">
        <button><img src="img/plusButton.png" alt="X"></button>
    </form>
</main>