<main>
  <div class="containerProfil column">
    
      <h1 class="profil-h1">Page de profil</h1>
      <h2>Bienvenu <span id="nomUtilisateur"></span></h2>
      <h3>Votre email est: <span id="emailUtilisateur"></span></h3>
      <a class="edit-btn" href="/profil/edit">Edit Profil</a>
      <button id="signOutBtn">Signout</button>
    
  </div>
</main>

<script src="js/signOut.js"></script>
<script src="js/scriptAffichageProfil.js"></script>
<script src="js/updateNom.js"></script>

          
          
       
           
          
      </div>
    </form>
  </main>
  <script src="js/signOut.js"></script>
  <script src="js/scriptAffichageProfil.js"></script>
  <script src="js/updateNom.js"></script>