<main>
    <h1>Page de profil</h1>
    <h2>Bienvenu <span id="nomUtilisateur"></span></h2>
    <h3>Votre email est: <span id="emailUtilisateur"></span></h3>
  
    
    <button id="signOutBtn">Signout</button>
  </main>
  
  <a href="/profil/edit">Edit Profil</a>
  <script src="js/signOut.js"></script>
  <script src="js/scriptAffichageProfil.js"></script>
  <script src="js/updateNom.js"></script>
  