* {
  margin: 0;
  padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  height: 10vh;
  width: 100%;
  font-size: 4rem;
  background-image: url(../img/plancheHeader.png);
}

header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px 0 20px;
}

.logo {
  width: 140px;
}

.imgUser {
  width: 100px;
}

.containerConnexion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  background-image: url(../img/backgroundConnexion.png);
}

.woodConnexion {
  height: 600px;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.5);
}

.woodConnexion form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  height: 100%;
  text-align: center;
}

.woodConnexion form input {
  font-size: 2rem;
  margin: 0 0 10px 0;
}

.woodConnexion form button {
  color: white;
  border: none;
  background-image: url(../img/planche.png);
  font-size: 2rem;
  margin: 20px;
  padding: 10px;
}

.woodConnexion form button:hover {
  cursor: pointer;
}

.woodConnexion form img {
  width: 300px;
}

.skisConnexion {
  width: 300px;
}

.containerCreationCompte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  background-image: url(../img/backgroundCreationCompte.png);
  background-size: cover;
}

.woodCreationCompte {
  height: 600px;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.5);
}

.woodCreationCompte form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  height: 100%;
  text-align: center;
}

.woodCreationCompte form input {
  font-size: 2rem;
  margin: 0 0 10px 0;
}

.woodCreationCompte form button {
  color: white;
  border: none;
  background-image: url(../img/planche.png);
  font-size: 2rem;
  margin: 20px;
  padding: 10px;
}

.woodCreationCompte form button:hover {
  cursor: pointer;
}

.woodCreationCompte form img {
  width: 400px;
}

.menu {
  width: 430px;
}

.menu button {
  width: 260px;
  text-align: left;
  color: white;
  border: none;
  background-image: url(../img/planche.png);
  font-size: 2.5rem;
  margin: 30px 0 0 0;
  padding: 10px 0 10px 30px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.menu button:hover {
  cursor: pointer;
  width: 380px;
}

.menu img {
  width: 320px;
  margin: 25px 0 0 25px;
}

.navProfil, .navFeed, .navMessages, .navAmis {
  width: 380px !important;
}

.containerProfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  width: 100%;
  float: left;
  background-image: url(../img/backgroundNeige.png);
}

.profilPage {
  height: 100%;
  width: 1450px;
  background-color: rgba(255, 255, 255, 0.5);
}

.topPartProfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
}

.imgEtIcone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icone3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 240px;
}

.textZoneProfil {
  width: 100%;
}

.textZoneProfil p {
  width: 700px;
}

.profilNameBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 3rem;
}

.profilNameBar button {
  background: none;
  border: none;
}

.profilNameBar button:hover {
  cursor: pointer;
}

.woodSeparation {
  height: 15px;
  width: 700px;
  margin: 15px 0 15px 0;
}

.navSpotDansProfil {
  width: 100%;
  margin-top: 30px;
  font-size: 3rem;
}

.navSpotDansProfil ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.navSpotDansProfil li {
  margin-left: 40px;
  border: 2px solid black;
  padding: 5px 10px 5px 10px;
}

.navSpotDansProfil li:hover {
  background-color: white;
}

.profilListeSpots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.spotCourtModifiable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 3rem;
  width: 90%;
  background-image: url(../img/plancheHeader.png);
  padding: 0 20px 0 0;
  border-radius: 40px;
}

.imgUtilisateurSpotCourt {
  width: 80px;
}

.formProfil {
  margin-top: 20px;
}

.formProfil input, .formProfil select {
  font-size: 1rem;
  padding: 6px;
  width: 300px;
}

.formProfil .descriptionProfil {
  width: 700px;
  height: 100px;
  font-size: 1rem;
}

.validFormProfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.validFormProfil button {
  color: white;
  border: none;
  background-image: url(../img/planche.png);
  font-size: 2.5rem;
  padding: 10px 20px 10px 20px;
}

.validFormProfil button:hover {
  cursor: pointer;
}

.containerFeed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  width: 100%;
  float: left;
  background-image: url(../img/backgroundNeige.png);
}

.feedPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  width: 1450px;
  background-color: rgba(255, 255, 255, 0.5);
}

.headFeedPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1410px;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
}

.headFeedPage button {
  background: none;
  border: none;
}

.headFeedPage button:hover {
  cursor: pointer;
}

.feedListeDesSpots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spotModifiable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 3rem;
  width: 90%;
  background-image: url(../img/plancheHeader.png);
  padding: 0 20px 0 0;
}

.imgUtilisateurSpotModifiable {
  width: 80px;
}

.feedInfoSpot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90.8%;
  border: 4px solid black;
}

.feedInfoSpot img {
  margin: 10px 0 10px 0;
}

.partOneInfoSpotFeed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 2.5rem;
  width: 60%;
  padding: 0px 40px 0 40px;
}

.partOneInfoSpotFeed .pBold {
  font-weight: bold;
  margin-right: 20px;
}

.elegantInfoFeed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fontSizeDescriptionSpotFeed {
  font-size: 2rem;
}

.partTwoInfoSpotFeed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  font-size: 2rem;
}

.partTwoInfoSpotFeed .bigNum {
  font-size: 14rem;
}

.partTwoInfoSpotFeed button {
  color: white;
  border: none;
  background-image: url(../img/planche.png);
  font-size: 2.5rem;
  padding: 10px 20px 10px 20px;
}

.partTwoInfoSpotFeed button:hover {
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */