* {
  margin: 0;
  padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  height: 10vh;
  width: 100%;
  font-size: 8vh;
  background-image: url(../img/plancheHeader.png);
}

header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px 0 20px;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
}

header div form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
}

header div form button {
  border: none;
  border-radius: 2vw;
  background-color: white;
  font-size: 2vh;
  padding: 1vh 2vw 1vh 2vw;
}

header div form button:hover {
  cursor: pointer;
}

.logo {
  height: 9vh;
}

.imgUser {
  height: 9vh;
}

.containerConnexion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  background-image: url(../img/backgroundConnexion.png);
  background-size: cover;
  background-attachment: fixed;
}

.woodConnexion {
  height: 75vh;
  width: 30vw;
  background-color: rgba(255, 255, 255, 0.5);
}

.woodConnexion form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4vh;
  height: 100%;
  text-align: center;
}

.woodConnexion form input {
  font-size: 4vh;
  width: 80%;
  margin-bottom: 1vh;
}

.woodConnexion form button {
  color: white;
  border: none;
  background-image: url(../img/planche.png);
  font-size: 4vh;
  margin: 3vh;
  padding: 1vh 2vw 1vh 2vw;
}

.woodConnexion form button:hover {
  cursor: pointer;
}

.woodConnexion form img {
  width: 70%;
}

.skisConnexion {
  height: 80vh;
}

.containerCreationCompte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  background-image: url(../img/backgroundCreationCompte.png);
  background-size: cover;
  background-attachment: fixed;
}

.woodCreationCompte {
  height: 70vh;
  width: 30vw;
  background-color: rgba(255, 255, 255, 0.5);
}

.woodCreationCompte form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3vh;
  height: 100%;
  text-align: center;
}

.woodCreationCompte form input {
  font-size: 3vh;
  margin: 0 0 10px 0;
}

.woodCreationCompte form button {
  color: white;
  border: none;
  background-image: url(../img/planche.png);
  font-size: 4vh;
  margin: 3vh;
  padding: 1vh 2vw 1vh 2vw;
}

.woodCreationCompte form button:hover {
  cursor: pointer;
}

.woodCreationCompte form img {
  height: 4vh;
}

.containerCreationCompteReussi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75vh;
  width: 30vw;
  font-size: 2vh;
  background-color: rgba(255, 255, 255, 0.5);
}

.containerCreationCompteReussi button {
  color: white;
  border: none;
  background-image: url(../img/planche.png);
  font-size: 4vh;
  margin: 3vh;
  padding: 1vh 2vw 1vh 2vw;
}

.containerCreationCompteReussi button:hover {
  cursor: pointer;
}

.creationReussi {
  text-align: center;
  font-size: 4vh;
  padding: 2vh;
}

.menu {
  width: 22.4vw;
}

.menu button {
  width: 14vw;
  text-align: left;
  color: white;
  border: none;
  background-image: url(../img/planche.png);
  font-size: 4vh;
  margin-top: 4vh;
  padding: 1vh 0 1vh 2vw;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.menu button:hover {
  cursor: pointer;
  width: 20vw;
}

.menu img {
  width: 16vw;
  margin: 2vh 0 0 1vw;
}

.navProfil, .navFeed, .navMessages, .navAmis {
  width: 20vw !important;
}

.containerProfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  width: 100%;
  float: left;
  background-image: url(../img/backgroundNeige.png);
  background-size: cover;
  background-attachment: fixed;
}

.profilPage {
  height: 90vh;
  width: 75vw;
  background-color: rgba(255, 255, 255, 0.5);
}

.topPartProfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.6vh;
}

.imgEtIcone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imgEtIcone .bigImgUtilisateur {
  height: 40vh;
  width: 40vh;
}

.icone3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 12vw;
}

.icone3 img {
  height: 6vh;
}

.textZoneProfil {
  width: 100%;
}

.textZoneProfil p {
  width: 36vw;
}

.profilNameBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 5vh;
}

.profilNameBar button {
  background: none;
  border: none;
}

.profilNameBar button:hover {
  cursor: pointer;
}

.profilNameBar button img {
  height: 8vh;
}

.woodSeparation {
  height: 1.5vh;
  width: 36vw;
  margin: 2vh 0 2vh 0;
}

.navSpotDansProfil {
  width: 100%;
  margin-top: 4vh;
  font-size: 6vh;
}

.navSpotDansProfil ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.navSpotDansProfil li {
  margin-left: 2vw;
  border: 2px solid black;
  padding: 1vh 1vw 1vh 1vw;
}

.navSpotDansProfil li:hover {
  background-color: white;
}

.profilListeSpots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.spotCourtModifiable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 6vh;
  width: 90%;
  background-image: url(../img/plancheHeader.png);
  padding-right: 1vw;
  border-radius: 5vh;
}

.imgUtilisateurSpotCourt {
  width: 8vh;
  height: 8vh;
}

.threeDots {
  height: 2vh;
}

.formProfil {
  margin-top: 4vh;
}

.formProfil input, .formProfil select {
  font-size: 2vh;
  padding: 0.6vh;
  width: 15vw;
}

.formProfil .descriptionProfil {
  width: 35vw;
  height: 15vh;
  font-size: 2vh;
}

.validFormProfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.validFormProfil button {
  color: white;
  border: none;
  background-image: url(../img/planche.png);
  font-size: 5vh;
  padding: 1.5vh;
}

.validFormProfil button:hover {
  cursor: pointer;
}

.containerFeed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  float: left;
  background-image: url(../img/backgroundNeige.png);
  background-size: cover;
  background-attachment: fixed;
}

.feedPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  width: 75vw;
  background-color: rgba(255, 255, 255, 0.5);
}

.headFeedPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 73vw;
  padding: 2vh;
  margin-bottom: 2vh;
  font-size: 4vh;
}

.headFeedPage select {
  background-image: url(../img/planche.png);
  color: white;
  border: none;
  padding: 1vh 1vw 1vh 1vw;
  font-size: 4vh;
}

.headFeedPage select:hover {
  cursor: pointer;
}

.headFeedPage button {
  background: none;
  border: none;
}

.headFeedPage button:hover {
  cursor: pointer;
}

.headFeedPage img {
  width: 4vw;
}

.feedListeDesSpots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75vw;
}

.spotModifiable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 6vh;
  width: 90%;
  background-image: url(../img/plancheHeader.png);
  padding-right: 1vw;
}

.spotModifiable button {
  background-color: white;
  border: none;
  border-radius: 2vw;
  margin: 0.5vw;
  padding: 1vh 1vw 1vh 1vw;
  font-size: 3vh;
}

.spotModifiable button:hover {
  cursor: pointer;
}

.imgUtilisateurSpotModifiable {
  width: 4.5vw;
}

.buttonEditDelete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedInfoSpot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  width: 90.8%;
  height: 40vh;
  border: 0.25vw solid black;
  margin-bottom: 4vh;
}

.partOneInfoSpotFeed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 4vh;
  width: 60%;
  padding: 0 2vw 0 2vw;
}

.partOneInfoSpotFeed .pBold {
  font-weight: bold;
  margin-right: 1vw;
}

.elegantInfoFeed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fontSizeDescriptionSpotFeed {
  font-size: 3vh;
}

.partTwoInfoSpotFeed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  border-left: 0.25vw solid black;
  font-size: 3vh;
}

.partTwoInfoSpotFeed .bigNum {
  font-size: 6vh;
}

.partTwoInfoSpotFeed button {
  color: white;
  border: none;
  background-image: url(../img/planche.png);
  font-size: 3vh;
  padding: 1vh 1vw 1vh 1vw;
}

.partTwoInfoSpotFeed button:hover {
  cursor: pointer;
}

.containerFormulaireSpot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 90vh;
  width: 100%;
  float: left;
  background-image: url(../img/backgroundNeige.png);
  background-size: cover;
  background-attachment: fixed;
}

.containerFormulaireSpot .imgWoodV {
  height: 100%;
}

.spotForm {
  height: 90vh;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 5vh;
}

.spotForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
}

.spotForm input {
  font-size: 4vh;
}

.spotForm textarea {
  margin-top: 2vh;
  font-size: 4vh;
  width: 100%;
  height: 20vh;
}

.spotFormLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  width: 80%;
  padding: 1.2vw;
}

.spotFormLeft input {
  width: 100%;
  padding: 1.5vh;
  color: white;
  border: none;
  background-image: url(../img/plancheHeader.png);
}

.containerImgNivDiff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.containerImgNivDiff img {
  width: 26vw;
}

.containerImgNivDiff p {
  font-size: 4vh;
  margin-bottom: 2vh;
}

.nivDiff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nivDiffRadio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nivDiffRadio input {
  border: 0px;
  width: 100%;
  height: 3vh;
  margin: 3vh 0 3vh 0;
}

.nivDiffRadio input:hover {
  cursor: pointer;
}

.nivDiffRadio label {
  display: block;
  background: #000;
  margin: 1.5vh;
  color: white;
  border: none;
  background-image: url(../img/planche.png);
  text-align: center;
  font-size: 4.5vh;
  padding: 1vh 2vw 1vh 2vw;
}

.spotFormRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

.spotFormRight button {
  color: white;
  border: none;
  background-image: url(../img/planche.png);
  font-size: 4.5vh;
  padding: 1vh 2vw 1vh 2vw;
}

.spotFormRight button:hover {
  cursor: pointer;
}

.spotFormRight img {
  width: 22vw;
}

.spotFormRight textarea {
  width: 100%;
  height: 150px;
}

.spotFormMap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
}

.spotFormQuit {
  position: absolute;
  right: 2.5vw;
  margin-top: 2vh;
}

.spotFormQuit button {
  border: none;
  background: none;
}

.spotFormQuit button:hover {
  cursor: pointer;
}

.spotFormQuit img {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 3.5vw;
}

.containerFeedDescription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 90vh;
  width: 100%;
  background-image: url(/img/backgroundNeige.png);
  background-size: cover;
  background-attachment: fixed;
}

.containerFeedDescription .imgWoodV {
  height: 100%;
}

.containerFeedDescription h1 {
  font-size: 7vh;
}

.spotAff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 6vh;
}

.spotAffLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  width: 80%;
  padding: 2vw;
}

.containerAffImgDiff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.containerAffImgDiff p {
  font-size: 3.5vh;
  margin-bottom: 2vh;
}

.imgSpot {
  width: 26vw;
}

.imgUserSpot {
  height: 9vh;
}

.nivDiff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.affDiffSpot {
  text-align: center;
  background-image: url(../img/planche.png);
  color: white;
  padding: 1vh 2vw 1vh 2vw;
}

.affAuteurSpot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.affAuteurSpot div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.descriptionSpot {
  font-size: 4vh;
}

.spotAffRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

.spotAffRight img {
  width: 22vw;
}

.spotAffMap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
}

.descriptionAddress {
  font-size: 4vh;
  text-align: center;
  width: 100%;
}

.spotAffQuit {
  position: absolute;
  right: 2.5vw;
  margin-top: 2vh;
}

.spotAffQuit button {
  border: none;
  background: none;
}

.spotAffQuit button:hover {
  cursor: pointer;
}

.spotAffQuit img {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 3.5vw;
}
/*# sourceMappingURL=styles.css.map */