main {
    margin: 0;
    padding: 0;
}

.containerConnexion {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 90vh;
    background-image: url('/img/backgroundConnexion.png');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoConnexion {
    width: 30%;
    height: 35rem;
    background-image: url('/img/backgroundtableau.png');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoConnexion form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableConnexion {
    width: 80%;
    font-size: 1.2rem;
    margin-right: 1.8rem;
}

.tableConnexion h1 {
    margin: 0;
}

.tableConnexion img {
    width: 100%;
}

.tableConnexion td {
    height: 2.5rem;
}

.tableConnexion input {
    width: 100%;
    height: 2.5rem;
    background: transparent;
    border: 2px solid black;
}

.tableConnexion button {
    width: 60%;
    height: 2.5rem;
    background-image: url('/img/planchePageProfil.png');
    color: white;
    font-size: large;
    border-radius: 5px;
    border: 1px solid black;
}

.tableConnexion button:hover{
    border: none;
    box-shadow: 5px 5px black;
}

.tableConnexion a {
    color: black;
}

.tableConnexion a:active {
    color: black;
}

.imageSkiConnexion {
    width: 9rem;
    height: 30rem;
    background-image: url('/img/BackgroundSkis.png');
    background-size: cover;
    margin-right: 7vw;
}


.textCenter {
    text-align: center;
}

.marginTop20 {
    margin-top: 1.4rem;
}