.containerFormulaireSpot {
    background-image: url('/img/backgroundFormulaireSpot.png');
    height: 90vh;
}

.containerFormulaireSpot p {
    font-size: 1.4rem;
    text-align: justify;
}

.containerFormulaireSpot h2 {
    font-size: 2rem;
    font-weight: normal;
}

.backgroundBlanc {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .5);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.containerFormulaireSpot h1 {
    font-size: 2.6rem;
    font-weight: normal;
    margin: 1rem 0 1rem 0;
}

img[src="/img/plancheFormulaireSpot.png"] {
    height: 100%;
}

.formulaireSpotGauche {
    width: 58%;
}

.titreSpot {
    display: flex;
    align-items: center;
    width: 100%;
}
img[src="/img/crayonBois.png"] {
    height: 3rem;
    flex-grow: 0;
}

.photoDifficulte {
    display: flex;
    justify-content: space-between;
}

.photoSpot {
    width: 48%;
}

img[src="/img/photoSpot.png"] {
    width: 100%;
    margin-bottom: 2rem;
}

.difficulte {
    width: 48%;
    display: flex;
    flex-flow: column;
}

.difficulte h2 {
    margin-top: 0;
    margin-bottom: .5rem ;
}

.difficulte p {
    background-image: url('/img/plancheDifficulte.png');
    color: #fff;
    flex-grow: 1;
    margin: .85rem 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.9rem;
}

.difficulte p:nth-child(3) {
    font-weight: bold;
}
.description > * {
    display: inline-block;
    align-items: center;
}

.descriptionTitle {
    display: flex;
    align-items: center;
    height: 3rem;
}
.description h2 {
    margin: 0;
}

.formulaireSpotDroite {
    width: 28%;
}

.emplacementTitre {
    display: flex;
    align-items: center;
}
img[src="/img/carteEmplacementSpot.png"] {
    width: 100%;
}

.boutonsFormulaireSpot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boutonsFormulaireSpot button {
    width: 47%;
    height: 3rem;
    font-size: 1.5rem;
    color: white;
    background-image: url('/img/plancheDifficulte.png');
}