main {
    margin: 0;
    padding: 0;
}
.containerCreationCompte {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 90vh;
    background-image: url('/img/backgroundCreationCompte.png');
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    display: flex;
    justify-content: center;

}
.bgTableau{
    width: 75vw;
    height: 75vh;
    background-image: url('/img/bgTableauCreationCompte.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    justify-content: center;

}
.tableCompte {
    display: flex;
    background-size: contain;
    width: 70vw;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}

.tableCompte h1 {
    margin: 0;
}

.tableCompte td {
    height: 5vh;
}

.tableCompte tr{
    text-align: center;
}

.inputFields {
    width: 100%;
    height: 2.5rem;
    background: transparent;
    border: 2px solid black;
}

.btnCreerCompte {
    width: 80%;
    height: 5vh;
    background-color: black;
    color: white;
    font-size: large;
    margin: 5%;
}

.textLeft {
    text-align: start;
}