* {
    box-sizing: border-box;
    font-family: "Lumberjack inline rough"
}

body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 10vh;
    background-image: url('/img/backgroundHeader.png');
    display: flex;
}
nav {
    display: flex;
    margin: 0;
    overflow: hidden;
    width: 100%;  
}

nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
}

nav ul li {
    list-style-type: none;
    color: white;
    float: left;
}

nav ul li a {
    color: white;
    display: block;
    padding: 1vh;
    text-decoration: none;
}

.width84{
    width: 84%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.width8{
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.width84 p{
    font-size: 3em;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    flex-basis: auto;
    height: 8.5vh;
    padding-bottom: 0.5vh;
}
.iconeProfil{
    flex-basis: auto;
    height: 10vh;
    padding-bottom: 1.5vh;
}